body{
	font-family: 微軟正黑體;
}
#banner{
	background-image: url(../img/banner.jpg);
	background-position: center center;
	background-size: cover;
	height: 300px;
	margin-top: 3.5rem;
}
.title{
	color: #FA8072;
	font-weight: bold;
}